.property-container__title-grid {
  width: 85%;
}

.sidebar {
  width: 15%;
  font-family: 'Nunito', sans-serif;
  margin-left: 10px;
}

.sidebar-city__label {
  cursor: pointer;
}

.sidebar-city__name {
  margin-left: 5px;
}

.sidebar-city__title {
  font-style: italic;
  margin-bottom: 0;
}

.sidebar-city__link {
  text-decoration: none;
  height: auto;
  margin-left: 15px;
}

.sidebar-city {
  display: flex;
  flex-direction: column;
}

.sidebar-text-search {
  display: flex;
  align-items: center;
  max-width: 100%;
}
